html{
	height: 400px;
	overflow: auto;
}
body{
	width: 300px; 
	height: 100%;
	overflow: auto;
}
.link{
}
#links{
display: inline-block;
}
.icon{
	display: inline-block;
	width: 50px;
}
.pic{
	display: inline-block;
	width: 50px;
	vertical-align: middle;
}
.go_button{
	margin-left: 20px;
	height: 50px;
}